/* * {
   border: 1px solid pink !important;
   color: white;
 } */

body {
  background-color: #000d33;
  color: gray;
}
div {
  display: flex;
}
canvas {
  /* border: 1px solid silver;
  border-radius: 4px; */
  margin: 0 auto;
}
.greeting {
  display: flex;

  color: silver;
  font-size: 44px;
  font-family: "Great Vibes", cursive;
  text-shadow: 0px 1px 5px #ba2a4d;
  margin: 12px auto;
}

.greeting-text {
  margin: 0px auto;
}

.container {
  margin: 0;
}

.controls-container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.controls {
  display: flex;
}

.controls div {
  padding: 2px 6px;
}

.control-labels {
  flex-direction: column;
  justify-content: space-between;
}

.sliders {
  flex-direction: column;
  justify-content: space-between;
}

input[type="range"] {
  -webkit-appearance: none;
}

.values {
  flex-direction: column;
  text-align: right;
  min-width: 40px;
  justify-content: space-between;
}

footer {
  float: right;
  margin: 4px 16px;
}

small {
  font-size: 12px;
}
