// * {
//   border: 1px solid pink;
//   color: white;
// }
body {
  background-color: #000d33;
  color: gray;
}
div {
  display: flex;

}
canvas {
  border: 1px solid silver;
  border-radius: 4px;
  margin: 0 auto;
}
.greeting {
  color: red;
  font-size: 18px;
  font-family: 'Great Vibes', cursive;
}
.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls-1 > div, span, input {
  padding: 2px 4px

}

#currentDensity {
  width: 46px;
}

.controls-2 > div, span, input {
  padding: 2px 4px;
}

#currentMaxSize {
  width: 42px;
}
